<div id="wrapper">

  <app-sidemenu></app-sidemenu>

  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a [routerLink]="['/admin/dashboard']" >Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a [routerLink]="['/admin/questionmaster/codeoption']" >Java Code Questions List</a>
              </li>
            <li class="breadcrumb-item active">Add New Question</li>
        
      </ol>

      
      <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-question"></i>
          Add New Question</div>
         
        <div class="card-body"> 
            <form [formGroup]="addJavaCodeForm" (ngSubmit)="save_newquestion()">
                <div class="error">{{strMessage}}</div>
                <div class="form-group ">
                  <div class="form-row">
                    <div class="col-md-12">
                      <label >Question</label>
                      <div>
                          <textarea rows="4" id="title" class="form-control" formControlName="question_title" [ngClass]="{ 'is-invalid': submitted && f.question_title.errors }" >
                          </textarea>
                      </div>
                      <div *ngIf="submitted && f.question_title.errors" class="invalid-feedback">
                        <div *ngIf="f.question_title.errors.required">This field is required</div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label >Allow time in minutes</label>
                      <div>
                          <input type="number" id="allowtime" class="form-control" formControlName="allowtime" [ngClass]="{ 'is-invalid': submitted && f.allowtime.errors }" >
                      </div>
                      <div *ngIf="submitted && f.allowtime.errors" class="invalid-feedback">
                        <div *ngIf="f.allowtime.errors.required">This field is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <input type="submit" class="btn btn-primary btn-block" value="Save Changes">
                
              </form>
          
        </div>
        
      </div>

    </div>
    <!-- /.container-fluid -->

    <app-footer></app-footer>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
